<launch>
  <arg name="stage" default="1"/>
  <param name="stage_number"  value="$(arg stage)"/>

  <group if="$(eval arg('stage') == 1)">
    <include file="$(find turtlebot3_gazebo)/launch/turtlebot3_stage_1.launch">
    </include>
  </group>
  
  <group if="$(eval arg('stage') == 2)">
    <include file="$(find turtlebot3_gazebo)/launch/turtlebot3_stage_2.launch">
    </include>
  </group>
  
  <group if="$(eval arg('stage') == 3)">
    <include file="$(find turtlebot3_gazebo)/launch/turtlebot3_stage_3.launch">
    </include>
    <node pkg="turtlebot3_dqn"  type="moving_obstacle.py" name="moving_obstacle" output="screen" />
  </group>
  
  <group if="$(eval arg('stage') == 4)">
    <include file="$(find turtlebot3_gazebo)/launch/turtlebot3_stage_4.launch">
    </include>
    <node pkg="turtlebot3_dqn" type="combination_obstacle_1.py" name="combination_obstacle_1" output="screen" />
    <node pkg="turtlebot3_dqn" type="combination_obstacle_2.py" name="combination_obstacle_2" output="screen" />
  </group>
</launch>